@import 'tailwindcss';
@import 'tw-animate-css';

@plugin "daisyui";
/* @plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: light;
} */
@theme {
  --breakpoint-xs: 20rem;
}
